<% include ./header1.ejs %>
<% include ./header2.ejs %>
<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3" id="welcomeP" data-name="<%= user.name %>">
  Welcome <%= user.name %>
</p>

<div
  style="
  width:100%;
  height:450px;
  overflow: auto;
  margin:15px;
  padding:15px;
  text-align:center;
"
>
  <div
    id="chatdiv"
    style="
width:100%;
height: 300px;
overflow:auto;
border: 1px solid #cccccc;
border-radius: 4px;
text-align:left;
padding:5px;
"
  >
    <% for(post of posts){ %>
    <p><%= post %></p>
    <%}%>
  </div>
  <br />
  <input type="text" id="chatInput" style="width: 80%;" />
</div>

<div id="detailView"></div>
<!-- [a placeholder for the Display post] -->
<div id="postFormDiv"></div>
<!-- [a placeholder for the input modal] -->

  <div
    id="postsDiv"
    style="
width:100%;
height:auto;
overflow:auto;
margin:5px auto;
text-align:left;
padding:5px;
"
  ></div>
  <button id="postCreate">create post</button>
</div>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<% include ./dashboard.js.ejs %>
<% include ./footer.ejs %>
