<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3" id="welcomeP" data-name="<%= user.name %>">Welcome <%= user.name %></p>
<div id="chatdiv" >
<% for(post of posts){ %>
  <p><%= post %></p>
<%}%>
</div>
<br>
<input type="text" id="chatInput">
<button id="sendhello">Send Hello</button>
<br>
<button id="postCreate">create post</button> <button id="room2">room2</button>

<div id="postFormDiv"></div>

<a href="/users/logout" class="btn btn-secondary">Logout</a>
<script type="module">

let socket = io.connect('/')
const sendhello = document.querySelector('#sendhello')
const welcomeP = document.querySelector('#welcomeP').getAttribute('data-name')
const chatInput = document.querySelector('#chatInput')
const chatDiv = document.getElementById('chatdiv')
const postFormDiv = document.getElementById('postFormDiv')
const postcreate = document.getElementById('postCreate')

function doForm() {
  tinymce.init({ selector: "#postContent" });
  const postText = document.querySelector("#postText"),
    postLink = document.querySelector("#postLink"),
    postTitle = document.querySelector("#postTitle"),
    postImage = document.querySelector("#postImage"),
    postContent = document.querySelector("#postContent"),
    postSubmit = document.querySelector("#postSubmit"),
    postDisplay = document.querySelector("#postDisplay"),
    postFormDiv = document.querySelector("#postFormDiv")
  postImage.onchange = e => readURL(postImage);
  postSubmit.onclick = (e)=>{
const elem = document.createElement('canvas');
elem.width = postDisplay.clientWidth;
elem.height = postDisplay.clientHeight;
const ctx = elem.getContext('2d')
ctx.drawImage(postDisplay, 0, 0, postDisplay.clientWidth, postDisplay.clientHeight);
const data = ctx.canvas.toDataURL();
    const responseObject={
      "text":postText.value,
      "link":postLink.value,
      "title": postTitle.value,
      "image":data,
      "content":tinymce.activeEditor.getContent()
    }
    console.log(responseObject)
      socket.emit("newPost",responseObject)
    postFormDiv.innerHTML = ''
  }

  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function(e) {
        postDisplay.setAttribute("src", e.target.result);
      };
      reader.readAsDataURL(input.files[0]);
    }
  }
}

postcreate.addEventListener('click',e=>{
  socket.emit('getPostForm')

})
sendhello.addEventListener('click',e=>{
  console.log(chatInput.value)
    const content = welcomeP + " says " + chatInput.value
    socket.emit('hello',content)
  })


    socket.on('hello', data => chatDiv.innerHTML +=`<p> ${data} </p>`)

    socket.on('chat', data => chatDiv.innerHTML +=`<p> ${data} </p>`)

    socket.on('sendPostForm', data =>{
      postFormDiv.innerHTML = data
      doForm()
    })

    socket.on('newPost', data =>{
      console.log(data)
      postFormDiv.innerHTML = data
    })
</script>

