<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3" id="welcomeP" data-name="<%= user.name %>">Welcome <%= user.name %></p>
<div id="chatdiv" >
<% for(post of posts){ %>
  <p><%= post %></p>
<%}%>
</div>
<br>
<input type="text" id="chatInput">
<button id="sendhello">Send Hello</button>
<br>
<button id="postCreate">create post</button> <button id="room2">room2</button>

<div id="postFormDiv"></div>

<a href="/users/logout" class="btn btn-secondary">Logout</a>
<script type="module">

import dashboard from '/dashboard.js'
setTimeout(() => {
  dashboard()
}, 1000);

</script>

