</div>
<div style="width: 18%; float: left;">
  <div class="box">Right Side info</div>
</div>
<div
  style="margin-left:10px;border-left: 1px solid #ccc; width: 15%; float: left; height: 100%; position:fixed; top: 48px; right: 0px;"
>
  <div style="min-height: 30%; border-bottom: 1px solid #ccc;">
    Games/stuff
  </div>
  <div>Chat</div>
</div>

<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
  integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
  integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
  crossorigin="anonymous"
></script>
</div>
</div>
</body>
</html>
