<style>
    .box {
      background-color: #ffffff;
      width: 100%;
      border: 1px solid #cccccc;
      margin-left: 5px;
      margin-right: 5px;
      padding: 8px;
      border-radius: 4px;
    }
    .button {
      background-color: #a279da; /* Purple */
      border: none;
      color: white;
      padding: 7px 7px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin: 4px 2px;
      border-radius: 4px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
    }

    .button1 {
      background-color: a279da;
      color: white;
      border: 2px solid #a279da;
    }

    .button1:hover {
      background-color: White;
      color: black;
    }
  </style>
</head>
<body style="background-color: #e9ebee;">
  <div style="width: 100%; background-color: #462178; height: 48px; border-bottom: 1px solid #381765; position: fixed; top:0;" ><div style="width: 10%; float: left;">
      <img
        src="/logo.png"
        style="height: 30px; margin-left:20px; margin-top:10px;"
      />
    </div>
    <div style="float: right; color: #fff;">
      Home |
      <i class="fas fa-globe-americas fa-lg"></i> &nbsp;
      <i class="fas fa-comment-alt fa-lg"></i> &nbsp;
      <i class="fas fa-user-circle fa-lg"></i> &nbsp;&nbsp;&nbsp;
      <button
        class="button button1"
        style="margin-right: 100px;"
        id="postCreate"
      >
        Mumbl
      </button>
    </div>
  </div>
  <div style="width: 84%; float: left;">
    <div style="width: 100%; margin-top: 58px;">
      <div style="width: 18%; float: left; margin-right: 10px;">
        <div class="box">User Area</div>
      </div>
      <div
        style="width: 63%; float:left; background-color: #ffffff; border: 1px solid #cccccc; border-radius: 4px;"
      >
