<div style="
position:fixed;
z-index: 9999;
top:54px;
left:65%;
width:430px;
height:75%;
border: 2px solid #cccccc;
border-radius: 4px;
background-color: rgba(251,251,251,1)
">

<div style="
position:absolute;
top:20px;
left:50px
">
<style>
  label{
    color:#000;
  }
</style>
<h2>Create a New Mumbl</h2><hr>
<div>
  <label for="postTitle">Message Title</label>
  <input
    type="text"
    id="postTitle"
    class="form-control"
    placeholder="enter message Title"
    value="<%= data.postTitle %>"
  />
</div>

<div class="form-group" id="editform" data-id="<%= data.post_id%>">
  <label for="text">Message Text</label>
  <textarea
    type="text"
    id="postText"
    class="form-control"
    placeholder="enter message text"
  ><%= data.postText %></textarea>
</div>

<img src="<%= data.postImage %>" alt="" id="postDisplay" style="max-width:300px;max-height:300px">

<div class="form-group">
  <label for="postImage">Message Image</label>
  <input
    type="file"
    accept=".png, .jpg, .bmp, .webp, .gif"
    id="postImage"
    class="form-control"
  />

</div>
<button id="postSubmit">Submit</button>
<button style="position: absolute; top: 5px; left: 99%;" id="postCancel">X</button>
</div>

</div>
<!--
postText
postLink
postTitle
postImage
postDisplay
postSubmit
postCancel
 -->


