<div class="form-group">
  <label for="text">Message Text</label>
  <textarea
    type="text"
    id="postText"
    class="form-control"
    placeholder="enter message text"
  ><%= data.postText %></textarea>
</div>
<div class="form-group">
  <label for="postLink">Message Link</label>
  <input
    type="text"
    id="postLink"
    class="form-control"
    placeholder="enter message Link"
    value="<%= data.postLink %>"
  />
</div>
<div class="form-group">
  <label for="postTitle">Message Title</label>
  <input
    type="text"
    id="postTitle"
    class="form-control"
    placeholder="enter message Title"
    value="<%= data.postTitle %>"
  />
</div>
<img src="<%= data.postImage %>" alt="" id="postDisplay" style="max-width:300px;max-height:300px">
<div class="form-group">
  <label for="postImage">Message Image</label>
  <input
    type="file"
    accept=".png, .jpg, .bmp, .webp, .gif"
    id="postImage"
    class="form-control"

  />
</div>


<button id="postSubmit">Submit</button>




<!--
postText
postLink
postTitle
postImage
postDisplay
 -->


